
@model BaseDeDatosUpdate.Models.Producto
<h3>Formulario de edición</h3>
@using (Html.BeginForm("Editar", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>Id</td>
            <td>@Html.DisplayFor(m => m.Id)
                @Html.HiddenFor(m => m.Id)
            </td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>@Html.TextBoxFor(mod => mod.Nombre)</td>
        </tr>
        <tr>
            <td>Cantidad</td>
            <td>@Html.TextBoxFor(mod => mod.Cantidad)</td>
        </tr>
        <tr>
            <td>Precio</td>
            <td>@Html.TextBoxFor(mod => mod.Precio)</td>
        </tr>
        <tr>
            <td>Estado</td>
            <td>@Html.TextBoxFor(mod => mod.Estado)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Editar" /></td>
        </tr>
    </table>
}